body{
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}
button:hover{
    color: rgb(rgb(0, 0, 0));
}
