body {
    background-color: bisque;
    
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}

.presentApi {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 800px) {
.presentApi {
    grid-template-columns: repeat(3, 1fr);
}
}
@media screen and (max-width: 400px) {
.presentApi {
    grid-template-columns: repeat(2, 1fr);
}
}

.adressOfUser {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

}

p {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.users {
    /* display: grid; */
    background-color: white;
    /* grid-template-columns: [col1] 40px [col2] 50px [col3] 60px [col4] 50px [col5] 40px [end]; */
    /* grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line]; */

    /* grid-column: start 1/ span 3;
    grid-row: first-line / 4; */
}

.user {
    border: 1px solid white;
}